{%- liquid
    assign block_layout = section.settings.layout
    assign img_ratio = section.settings.img_ratio
    assign enable_image_zoom = section.settings.enable_image_zoom
    assign enable_video_autoplay = section.settings.enable_video_autoplay
    assign enable_video_looping = section.settings.enable_video_looping
    assign featured_media = product.featured_media
    assign product_media = product.media | default: (1..12)
    assign enable_darken_mode = settings.enable_product_darken_background
  
    if product.metafields.custom.custom_product_images != blank
     assign product_media = product.metafields.custom.custom_product_images.value
     assign thumb_image = product_media | first

    else
     assign product_media = product.media | default: (1..12)
    endif
  -%}
  
  
  <product-media-carousel
    class='product-media-carousel'
    data-section='{{ sectionId }}'
    id='product-media-{{ product.id }}-{{ sectionId }}'
  >
    <carousel-component
      class='carousel product-media-carousel__carousel {% if block_layout == 'thumbnails-bottom' %} product-media-carousel__carousel--with-bottom-thumbnails {% endif %} {% if block_layout == 'thumbnails-right' %} product-media-carousel__carousel--with-right-thumbnails {% endif %} {% if block_layout == 'thumbnails-left' %} product-media-carousel__carousel--with-left-thumbnails {% endif %}'
      data-draggable='false'
      data-section-id='{{ sectionId }}'
      data-product-media-carousel-component
      tabindex='-1'
      {% if block_layout == 'thumbnails-left' or block_layout == 'thumbnails-right' %}
        data-axis='vertical'
      {% endif %}
      with-stop-on-hover
    >
      <div
        class='shape shape--{{ img_ratio }} product-media-carousel__viewport embla {% if block_layout == 'thumbnails-left' or block_layout == 'thumbnails-right' %} carousel__viewport carousel__viewport--vertical{% endif %}'
        data-carousel-viewport
      >
        <div class='carousel__container product-media-carousel__container' data-carousel-container>
          {%- if product.media != blank -%}
            {%- if featured_media != null -%}
              {% comment %} <div
                class='carousel__slide product-media-carousel__slide'
                {% if featured_media.media_type == 'image' and enable_image_zoom %}
                  data-zoom-cursor-target
                {% endif %}
                data-media-id='{{ featured_media.id }}'
              >
                {% render 'product-media',
                  product: product,
                  enable_image_zoom: enable_image_zoom,
                  enable_video_autoplay: enable_video_autoplay,
                  media: featured_media,
                  modal_media_id: featured_media.id,
                  enable_video_looping: enable_video_looping,
                  sectionId: sectionId
                %}
              </div> {% endcomment %}
              <div
                class='carousel__slide product-media-carousel__slide'
                {% if featured_media.media_type == 'image' and enable_image_zoom %}
                  data-zoom-cursor-target
                {% endif %}
                data-media-id='{{ featured_media.id }}'
              >
                {% render 'product-media',
                  product: product,
                  enable_image_zoom: enable_image_zoom,
                  enable_video_autoplay: enable_video_autoplay,
                  media: thumb_image,
                  modal_media_id: thumb_image.id,
                  enable_video_looping: enable_video_looping,
                  sectionId: sectionId
                %}
              </div> 
            {%- endif -%}
            {%- for media in product_media -%}
              {%- if media.id != featured_media.id or media.id == blank -%}
                <div
                  class='carousel__slide product-media-carousel__slide'
                  {% if media.media_type == 'image' and enable_image_zoom %}
                    data-zoom-cursor-target
                  {% endif %}
                  data-media-id='{{ media.id }}'
                >
                  {% render 'product-media',
                    product: product,
                    enable_image_zoom: enable_image_zoom,
                    enable_video_autoplay: enable_video_autoplay,
                    media: media,
                    modal_media_id: media.id,
                    enable_video_looping: enable_video_looping,
                    sectionId: sectionId
                  %}
                </div>
              {%- endif -%}
            {%- endfor -%}
          {%- else -%}
            {%- for media in product_media -%}
              <div
                class='carousel__slide product-media-carousel__slide'
                {% if enable_image_zoom %}
                  data-zoom-cursor-target
                {% endif %}
                data-media-id='{{ forloop.index }}'
              >
                {% render 'product-media',
                  product: product,
                  enable_image_zoom: enable_image_zoom,
                  enable_video_autoplay: enable_video_autoplay,
                  media: media,
                  modal_media_id: forloop.index,
                  enable_video_looping: enable_video_looping,
                  sectionId: sectionId
                %}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
  
      <div class='product-media-carousel__thumbs-wrap'>
        <carousel-dots
          class='carousel product-thumbnail-carousel {% if block_layout == 'thumbnails-left' or block_layout == 'thumbnails-right' %} product-thumbnail-carousel--aside {% else %} product-thumbnail-carousel--bottom{% endif %}'
          data-contain-scroll='keepSnaps'
          data-skip-snaps
          is-draggable
          data-in-view-threshhold='1'
          {% if block_layout == 'thumbnails-left' or block_layout == 'thumbnails-right' %}
            data-with-wheel-gestures
            data-axis='vertical'
          {% endif %}
        >
          <carousel-btn
            class='carousel-btn product-thumbnail-carousel__btn {% if block_layout == 'thumbnails-bottom' %} product-thumbnail-carousel__btn--under product-thumbnail-carousel__btn--under-prev {% endif %} {% if block_layout == 'thumbnails-right' or block_layout == 'thumbnails-left' %} product-thumbnail-carousel__btn--aside product-thumbnail-carousel__btn--aside-prev {% endif %}'
            data-scroll-direction='prev'
            tabindex='0'
          >
            {%- liquid
              if block_layout == 'thumbnails-bottom'
                render 'icon', icon_name: 'chevron', class: 'product-thumbnail-carousel__chevron x-flip'
              else
                render 'icon', icon_name: 'chevron', class: 'product-thumbnail-carousel__chevron product-thumbnail-carousel__chevron--top'
              endif
            -%}
          </carousel-btn>
          <div
            class='carousel__viewport product-thumbnail-carousel__carousel-viewport embla {% if block_layout == 'thumbnails-left' or block_layout == 'thumbnails-right' %}carousel__viewport--vertical{% endif %}'
            data-carousel-viewport
          >
            <div class='carousel__container product-thumbnail-carousel__container' data-carousel-container>
              {%- if featured_media != null -%}
              {% comment %}  {%- assign image = featured_media | default: featured_media.image -%} {% endcomment %} 
                {%- assign image = featured_media | default: product_media[0].media.preview_image  -%}
  
                <carousel-dot
                  class='carousel__slide product-thumbnail-carousel__thumb is-primary'
                  tabindex='0'
                  data-dot-index='{{ forloop.index0 }}'
                >
                  <div class='shape shape--{{ img_ratio }} product-thumbnail-carousel__thumb-content '>
                    <div class='product-thumbnail-carousel__thumb-image-wrapper {% if enable_darken_mode %}multiply-mode{% endif %}'>
                      <img
                        class='product-thumbnail-carousel__thumb-image lazyload {{ class }} {% if enable_darken_mode %}multiply-mode__target{% endif %}'
                        {% render 'image-attributes', image: image, size: 'small' %}
                      >
                    </div>
                  </div>
                </carousel-dot> 
              {%- endif -%}
              {%- for media in product_media -%}
                {% assign index = forloop.index0 %}
                {%- if media.id != featured_media.id or media.id == blank -%}
                  <carousel-dot
                    class='carousel__slide product-thumbnail-carousel__thumb {% if forloop.index == 1 and featured_media == null %}is-primary{% endif %}'
                    tabindex='0'
                    data-dot-index='{{ index }}'
                  >
                    <div class='shape shape--{{ img_ratio }} product-thumbnail-carousel__thumb-content'>
                      {%- assign image = media.preview_image -%}
  
                      <div class='product-thumbnail-carousel__thumb-image-wrapper {% if enable_darken_mode %}multiply-mode{% endif %}'>
                        {%- if image != blank and media.id != blank -%}
                          <img
                            class='product-thumbnail-carousel__thumb-image lazyload {{ class }} {% if enable_darken_mode %}multiply-mode__target{% endif %}'
                            {% render 'image-attributes', image: image, size: 'small' %}
                          >
                        {%- else -%}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-image product-thumbnail-carousel__thumb-image' }}
                        {%- endif -%}
                      </div>
  
                      {%- if media.media_type == 'external_video'
                        or media.media_type == 'video'
                        or media.media_type == 'model'
                      -%}
                        {% case media.media_type %}
                          {% when 'video', 'external_video' %}
                            <div class='product-thumbnail-carousel__thumb-icon-wrapper'>
                              {% render 'icon', icon_name: 'play', class: 'product-thumbnail-carousel__thumb-icon' %}
                            </div>
                          {% when 'model' %}
                            <div class='product-thumbnail-carousel__thumb-icon-wrapper'>
                              {% render 'icon', icon_name: '3d', class: 'product-thumbnail-carousel__thumb-icon' %}
                            </div>
                        {% endcase %}
                      {%- endif -%}
                    </div>
                  </carousel-dot>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
          <carousel-btn
            class='carousel-btn product-thumbnail-carousel__btn {% if block_layout == 'thumbnails-bottom' %} product-thumbnail-carousel__btn--under product-thumbnail-carousel__btn--under-next {% endif %} {% if block_layout == 'thumbnails-right' or block_layout == 'thumbnails-left' %} product-thumbnail-carousel__btn--aside product-thumbnail-carousel__btn--aside-next {% endif %}'
            data-scroll-direction='next'
            tabindex='0'
          >
            {%- liquid
              if block_layout == 'thumbnails-bottom'
                render 'icon', icon_name: 'chevron', class: 'product-thumbnail-carousel__chevron'
              else
                render 'icon', icon_name: 'chevron', class: 'product-thumbnail-carousel__chevron product-thumbnail-carousel__chevron--bottom'
              endif
            -%}
          </carousel-btn>
        </carousel-dots>
      </div>
    </carousel-component>
  </product-media-carousel>

  <script>
    var thumbnail_images = [
      '<img class="product-thumbnail-carousel__thumb-image lazyautosizes ls-is-cached lazyloaded" src="//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=320" data-srcset="//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=80 80w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=160 160w," data-aspectratio="0.9008771929824562" data-sizes="auto" alt="" loading="lazy" width="1" height="1" style="object-position:;" sizes="140px" srcset="//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=80 80w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=160 160w,">',
      '<img class="product-thumbnail-carousel__thumb-image lazyautosizes lazyloaded" src="//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=320" data-srcset="//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=80 80w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=160 160w," data-aspectratio="0.9008771929824562" data-sizes="auto" alt="" loading="lazy" width="1" height="1" style="object-position:;" sizes="140px" srcset="//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=80 80w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=160 160w,">'
    ];
    var gallery_images = [
      '<img class="product-media__image lazyautosizes ls-is-cached lazyloaded" src="//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=320" data-srcset="//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=200 200w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=400 400w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=580 580w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=760 760w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=960 960w," data-aspectratio="0.9008771929824562" data-sizes="auto" alt="" loading="lazy" width="1" height="1" style="object-position:50.0% 50.0%;" sizes="607px" srcset="//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=200 200w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=400 400w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=580 580w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=760 760w,//vitahustle.com/cdn/shop/files/Group_48095952.jpg?v=1695197884&amp;width=960 960w,">',
      '<img class="product-media__image lazyautosizes ls-is-cached lazyloaded" src="//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=320" data-srcset="//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=200 200w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=400 400w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=580 580w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=760 760w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=960 960w," data-aspectratio="0.9008771929824562" data-sizes="auto" alt="" loading="lazy" width="1" height="1" style="object-position:50.0% 50.0%;" sizes="607px" srcset="//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=200 200w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=400 400w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=580 580w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=760 760w,//vitahustle.com/cdn/shop/files/Group_48095953_5888fa40-1752-43b0-b00d-9fe37fea145e.jpg?v=1695282994&amp;width=960 960w,">'
    ];

    document.addEventListener("DOMContentLoaded", (event) => {

      var all_thumbnail_images = $('.product-thumbnail-carousel__thumb');
      var all_gallery_images = $('.carousel__slide.product-media-carousel__slide');

      thumbnail_images.map((item,i)=>{
        let temp_thumbnail_elem = all_thumbnail_images[i].querySelector('.product-thumbnail-carousel__thumb-image-wrapper');
        temp_thumbnail_elem.innerHTML = thumbnail_images[i];

      });
  
   
      thumbnail_images.map((item,i)=>{
        let temp_gallery_elem = all_gallery_images[i].querySelector('.product-media__image-wrapper');
        temp_gallery_elem.innerHTML = gallery_images[i];

      })
    });
  </script>
  <style>
    /* @media screen and (min-width: 769px){
     .carousel__slide.product-media-carousel__slide:last-child{
        display: none;
      }
    } */
  </style>

  