{%- liquid
  assign options = block.settings
  assign enable_pickup_availability = options.enable_pickup_availability
  assign show_pickup_availability = false
  assign selected_variant = product.selected_or_first_available_variant
  assign available = selected_variant.available
  assign product_form_id = 'product-form-' | append: product.id | append: '-' | append: sectionId
  assign pick_up_locations = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true
  assign pick_up_availabilities = false
  assign add_to_cart_label = 'products.product.add_to_cart' | t
  assign sold_out_label = 'products.product.sold_out' | t

  for location in pick_up_locations
    if location.available == true
      assign pick_up_availabilities = true
    endif
  endfor

  assign enable_gift_card = false
  if options.enable_gift_card and product.gift_card?
    assign enable_gift_card = true
  endif

  assign show_dynamic_checkout = false
  if options.show_dynamic_checkout and enable_gift_card == false
    assign show_dynamic_checkout = true
  endif

  if product.template_suffix contains 'pre-order'
    assign show_dynamic_checkout = false
    assign add_to_cart_label = 'products.product.pre_order' | t
  endif

  if enable_pickup_availability and pick_up_availabilities == true
    unless product.template_suffix contains 'pre-order'
      assign show_pickup_availability = true
    endunless
  endif
-%}

{% if product.handle contains "vitahustle-one-superfood-protein-single-serve-sampler" and template contains '3-pack-superfood' %}
  <style>
    .product-quantity__wrap{
       display: none;
    }
    .add_to_cart_serving_product{
      width: 100%;
      background-color: rgb(200, 232, 18);
      padding: 2rem 6rem;
      border-radius: 100px;
      letter-spacing: -0.7px;
      border: none;
      font-family: "FK Grotesk Bold";
      text-transform: uppercase;
      font-size: 17px;
      color: black;
      text-align: center;
      cursor: pointer;
      min-height: 5.6rem;
    }
    .add_to_cart_serving_product.disabled{
      cursor: not-allowed;
      opacity: .5;
    }
    .add_to_cart_serving_product.sticky{
      display: none;
    }
    @media screen and (max-width: 820px) {
      .add_to_cart_serving_product.sticky{
        display: block;
      }
    }
  </style>
{% endif %}

{%- if product != blank -%}
   {% if template contains 'new-superfood-greens' %} 
<div class=""style="display: flex;" >
  {% endif %}
  {% if template contains 'greens' %}
  <div
  class="product-quantity__wrap"
  id="product-quantity-{{ product.id }}-{{ sectionId }}"
  {{ block.shopify_attributes }}
>
  <!--
    <label class='product-quantity__label' for='Quantity-{{ product.id }}-{{ sectionId }}'>
      {{ 'products.product.quantity.label' | t }}
    </label>
  -->
  <quantity-component
    class="quantity product-quantity__quantity"
    data-stock="{% if product.selected_or_first_available_variant.inventory_policy == 'deny' %}{% if available == true %}{% if product.selected_or_first_available_variant.inventory_quantity > 0 %}{{ product.selected_or_first_available_variant.inventory_quantity }}{% else %}1{% endif %}{% else %}0{% endif %}{% else %}9999{% endif %}"
  >
    <quantity-btn class="quantity__btn" name="minus" data-action="minus" type="button" disabled tabindex="0">
      {%- render 'icon', icon_name: 'minus', class: 'quantity__btn-icon' -%}
    </quantity-btn>
    <input
      class="quantity__input"
      form="product-form-{{ product.id }}-{{ sectionId }}"
      id="Quantity-{{ product.id }}-{{ sectionId }}"
      min="{% if available %}1{% else %}0{% endif %}"
      name="quantity"
      type="number"
      value="{% if available %}1{% else %}0{% endif %}"
      data-quantity-input
      {% if available == false %}
        disabled
      {% endif %}
    >
    <quantity-btn
      class="quantity__btn"
      name="plus"
      type="button"
      data-action="plus"
      {% if available == false %}
        disabled
      {% endif %}
      tabindex="0"
    >
      {%- render 'icon', icon_name: 'plus', class: 'quantity__btn-icon' -%}
    </quantity-btn>
  </quantity-component>
</div>
  {% endif %}

  <div class="" {{ block.shopify_attributes }}>
    <product-form data-product-id="{{ product.id }}" id="product-form-component-{{ product.id }}-{{ sectionId }}">
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'product-form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        {% if enable_gift_card %}
          {% render 'gift-card-recipient-form', product: product, form: form, section: section, block: block %}
        {% endif %}

        <input
          type="hidden"
          name="id"
          value="{{ selected_variant.id }}"
          data-product-form-variant
          id="{{ product_form_id }}-IdInput-{{ form.id }}"
        >
        {{ form | payment_terms }}
        <div class="product-form__btns">
          {% if template.name == 'product' and sectionId contains '---MainSection' %}
            <div>
              <div class="product-form__btn-wrapper">
                <button
                  type="submit"
                  name="add"
                  id="product-buy-btn-{{ product.id }}-{{ sectionId }}"
                  class="product-form__btn btn btn--lg {% if show_dynamic_checkout == true %}btn--outline{% else %}btn--solid{% endif %}"
                  {% if available == false %}
                    disabled
                  {% endif %}
                   data-product-id="{{ product.id }}"
                    data-product-title="{{ product.title }}"
                    data-product-price="{{ product.price | money_with_currency }}"
                  aria-label="{%- if available -%}{{ add_to_cart_label }}{%- else -%}{{ sold_out_label }}{%- endif -%}"
                >
                  <span data-button-text>
                    {%- if available -%}
                      {{ add_to_cart_label }}
                    {%- else -%}
                      {{ sold_out_label }}
                    {%- endif -%}
                  </span>
                  {% render 'icon', icon_name: 'spinner', class: 'loading-spinner btn__loading-spinner' %}
                </button>
              </div>
            </div>

            <product-form-button class="product-form__mobile-sticky-button">
              <div
                class="product-form__btn-wrapper product-form__btn-wrapper--sticky-mobile-button"
              >
                <button
                  type="submit"
                  name="add"
                  id="sticky-product-buy-btn-{{ product.id }}-{{ sectionId }}"
                  class="product-form__btn btn btn--lg btn--solid"
                  {% if available == false %}
                    disabled
                  {% endif %}
                  data-product-form-button
                   data-product-id="{{ product.id }}"
                    data-product-title="{{ product.title }}"
                    data-product-price="{{ product.price | money_with_currency }}"
                  aria-label="{%- if available -%}{{ add_to_cart_label }}{%- else -%}{{ sold_out_label }}{%- endif -%}"
                >
                  <span data-button-text>
                    {%- if available -%}
                      {{ add_to_cart_label }}
                    {%- else -%}
                      {{ sold_out_label }}
                    {%- endif -%}
                  </span>
                  {% render 'icon', icon_name: 'spinner', class: 'loading-spinner btn__loading-spinner' %}
                </button>
              </div>
            </product-form-button>
          {% elsif template contains '3-pack-superfood' %}
             <button class="add_to_cart_serving_product" id="add_to_cart_serving_product_desktop"
              data-value = '{{ product.variants | json }}'
              {% if available == false %}
                  disabled
              {% endif %}
              >
                <span>
                  {%- if available -%}
                    {{ add_to_cart_label }}
                  {%- else -%}
                    {{ sold_out_label }}
                  {%- endif -%}
                </span>
              </button>

              <product-form-button class="product-form__mobile-sticky-button">
                <div
                  class="product-form__btn-wrapper product-form__btn-wrapper--sticky-mobile-button"
                >
                  <button class="add_to_cart_serving_product sticky"
                    {% if available == false %}
                        disabled
                    {% endif %}
                    id="add_to_cart_serving_product_mobile"
                    data-value = "{{ product.variants | json }}"
                    >
                      <span>
                        {%- if available -%}
                          {{ add_to_cart_label }}
                        {%- else -%}
                          {{ sold_out_label }}
                        {%- endif -%}
                      </span>
                    </button>
                </div>
              </product-form-button>
          {%- else -%}
            <button
              type="submit"
              name="add"
              id="product-buy-btn-{{ product.id }}-{{ sectionId }}"
              class="product-form__btn btn btn--lg {% if show_dynamic_checkout == true %}btn--outline{% else %}btn--solid{% endif %}"
              {% if available == false %}
                disabled
              {% endif %}
               data-product-id="{{ product.id }}"
                    data-product-title="{{ product.title }}"
                    data-product-price="{{ product.price | money_with_currency }}"
              aria-label="{%- if available -%}{{ add_to_cart_label }}{%- else -%}{{ sold_out_label }}{%- endif -%}"
            >
              <span data-button-text>
                {%- if available -%}
                  {{ product.price | money }} | {{ add_to_cart_label }}
                {%- else -%}
                  {{ sold_out_label }}
                {%- endif -%}
              </span>
              {% render 'icon', icon_name: 'spinner', class: 'loading-spinner btn__loading-spinner' %}
            </button>
          {% endif %}

          {%- if show_dynamic_checkout == true -%}
            <div class="dynamic-checkout-buttons">
              {{ form | payment_button }}
            </div>
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>

    {%- if show_pickup_availability == true -%}
      <pickup-availability
        class="pickup-availability body-font-weight-from-global-settings"
        data-base-url="{{ shop.url }}{{ routes.root_url }}"
        data-variant-id="{{ selected_variant.id }}"
        data-has-only-default-variant="{{ product.has_only_default_variant }}"
        id="product-pickup-availability-{{ product.id }}-{{ sectionId }}"
      >
        <pickup-availability-content class="pickup-availability-info"> </pickup-availability-content>
      </pickup-availability>
    {%- endif -%}
  </div>
   {% if template contains 'new-superfood-greens' %} 
</div>
      {%- endif -%}

{%- endif -%}

<script>
  var selling_plaID = "{{product.selling_plan_groups[0].selling_plans[0].id}}"
</script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
      console.log("selling_plaID",selling_plaID);

      function addTocart(id,qty,selling_planID){

          if(!selling_planID){
              items = [
                  {
                      id: id,
                      quantity: qty
                  }
              ]
          
          }
          else{
              items = [
                  {
                      id: id,
                      selling_plan: selling_planID,
                      quantity: qty
                  }
              ]
          }

          console.log("items",items);
          $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: {
                  items: items
              },
              dataType: 'json',
              success: function(data) {
                  console.log('data=========>', data);
                  $('.sidebar-cart__body').remove();
                  fetch(window.Shopify.routes.root + "?sections=cart-drawer")
                  .then(res => res.json()).then((res) => {
                    const response = $.parseHTML(res['cart-drawer']);          
                    
                    
                    $('.sidebar-cart').removeAttr('is-empty');     
                    $('.sidebar-cart').append($(response).find('#CartInSidebar')[0].innerHTML);
                    setTimeout(function() {
                      $('.sidebar-cart__body').addClass('dataAddedonSideBar');
                      $('.sidebar-cart').attr('data-aria-expanded', "true");  
                      $('.sidebar-cart').addClass('cartAdded');     
                    }); 
                  });
              }
              
          });
      }

      if($('.add_to_cart_serving_product')){
        $('.add_to_cart_serving_product').on('click', function(event){
          let selected_flavor = $('label.image-swatches__item--square.selected').attr('data-value');
          let product_variant = $('#add_to_cart_serving_product_desktop').attr('data-value');
          console.log("product_variant",product_variant);
          let variant_array = JSON.parse(product_variant);
          let selected_product =  variant_array.filter(variant=>variant.title==selected_flavor);
  
          event.preventDefault();
          addTocart(selected_product[0].id,1,selling_plaID);
       })
        
      }


     function productAvailablity(flavor){
      let selected_flavor = $('label.image-swatches__item--square.selected').attr('data-value');
      let product_variant = $('#add_to_cart_serving_product_desktop').attr('data-value');
        let variant_array =  product_variant ? JSON.parse(product_variant) : [];
      let selected_product =  variant_array.filter(variant=>variant.title==selected_flavor);

      if(!selected_product[0]?.available){
        $('.add_to_cart_serving_product').addClass('disabled');
        $('.add_to_cart_serving_product').text('Sold Out');
      }
      else{
        $('.add_to_cart_serving_product').removeClass('disabled');
        $('.add_to_cart_serving_product').text('Add To Cart');
      }
     }
     if($('#add_to_cart_serving_product_desktop')){
      productAvailablity();
      $('label.image-swatches__item--square').on('click',function(){
        let flavor = $(this).attr('data-value');
        let product_variant = $('#add_to_cart_serving_product_desktop').attr('data-value');
        let variant_array =  product_variant ? JSON.parse(product_variant) : [];
        let selected_product =  variant_array.filter(variant=>variant.title==flavor);
  
        if(!selected_product[0]?.available){
          $('.add_to_cart_serving_product').addClass('disabled');
          $('.add_to_cart_serving_product').text('Sold Out');
        }
        else{
          $('.add_to_cart_serving_product').removeClass('disabled');
          $('.add_to_cart_serving_product').text('Add To Cart');
        }
      })
     }


     if($(window).width()<=1015){
      var button = document.getElementById('add_to_cart_serving_product_desktop');
      let topPosition = 0
      if (button) {
          var rect = button.getBoundingClientRect();
          topPosition = rect.top + window.scrollY;
          
          console.log('The button is', topPosition, 'pixels from the top of the document.');
      }
      $(window).on('scroll',function(){
       let y = $(window).scrollTop();
       if($(this).scrollTop()>=topPosition+65){
        $('.product-form__mobile-sticky-button').attr('visible','');
      }
      else{
        $('.product-form__mobile-sticky-button').removeAttr('visible');
      }
       {% comment %} if(y>950){
         $('.product-form__mobile-sticky-button').attr('visible','');
       }
       else{
         $('.product-form__mobile-sticky-button').removeAttr('visible');
 
       } {% endcomment %}
      })
     }
     

  });
  
</script>
