<div class="quanity_controller">
  <div class="quantity_item_controller decrement" data-id="{{ productId }}" data-index="{{ index }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      fill="none">
      <line
        y1="7.5"
        x2="8"
        y2="7.5"
        stroke="#212121" />
    </svg>
  </div>
  <div class="value">
    1
  </div>
  <div class="quantity_item_controller increment" data-id="{{ productId }}" data-index="{{ index }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      fill="none">
      <path d="M0.173828 7.7915V6.56104H3.36719V3.3457H4.61963V6.56104H7.813V7.7915H4.61963V10.9995H3.36719V7.7915H0.173828Z" fill="#212121" />
    </svg>
  </div>
</div>
<div class="add_cta" data-id="{{ productId }}" data-index="{{ index }}">
  <span>Add</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="8"
    height="14"
    viewBox="0 0 8 14"
    fill="none">
    <path d="M0.173828 7.7915V6.56104H3.36719V3.3457H4.61963V6.56104H7.813V7.7915H4.61963V10.9995H3.36719V7.7915H0.173828Z" fill="#212121" />
  </svg>
</div>