
{% assign data = product.metafields.custom.how_to_use_content.value %}

<style>
   .how_to_use_wrapper{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
   } 
   .how_to_use_wrapper .inner_how_to_use_wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px 58px;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .title{
        font-family: "Druk Web";
        font-size: 4.514vw;
        font-weight: 700;
        {% comment %} line-height: 60.77px; {% endcomment %}
        line-height: 93.5%;
        max-width: 220px;
        color: #000000;
        position: relative;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .title::after{
        position: absolute;
        content: "";
        width: 50px;
        height: 30px;
        top: 30px;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .title span{
        color: #AFC42F;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow{
        max-width: 100px;
        max-height: 70px;
        width: 6.944vw;
        height: 4.861vw;
        position: absolute;
        bottom: -10px;
        right: -52px;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow.mobile_only{
        display: none;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow img{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 40px;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section{
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image{
        width: 21.25vw;
        height: 22.361vw;
        max-width: 306px;
        max-height: 322px;
        position: relative;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image img{
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_text{
        font-family: 'Lato Bold', sans-serif;
        font-size: 14px;
        font-weight: 900;
        {% comment %} line-height: 16.8px; {% endcomment %}
        line-height: normal;
        text-align: center;
        margin-top: 10px;
        text-transform: uppercase;
        color: #4D201A;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps{
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps span{
        width: 36px;
        height: 36px;
        border: 2px solid #121212;
        background-color: white;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-family: "Druk Web";
        font-size: 19px;
        font-weight: 700;
        line-height: normal;
    }
    .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps p{
        font-family: "Druk Web";
        font-size: 38px;
        font-weight: 700;
        line-height: 93.5%; /* 35.53px */
        letter-spacing: 0.38px;
        {% comment %} line-height: 35.53px; {% endcomment %}
    }
    @media screen and (min-width:1441px) {
        .how_to_use_wrapper .inner_how_to_use_wrapper .title{
            font-size: 70px;
        }
    }
    @media screen and (max-width:912px) and (min-width:820px) {
        .how_to_use_wrapper .inner_how_to_use_wrapper{
            padding: 40px 40px;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .title{
            {% comment %} line-height: 47.77px; {% endcomment %}

        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow{
            bottom: 10px;
            right: 8px;
        }
    }
    @media only screen and (max-width:820px) {
        .how_to_use_wrapper .inner_how_to_use_wrapper{
            padding: 3px 20px 25px 20px;
            flex-direction: column;
            row-gap: 80px;
        } 
        .how_to_use_wrapper .inner_how_to_use_wrapper .title{
            max-width: 100%;
            font-size: 58px;
            text-align: center;
            margin: 0 auto;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper{
            column-gap: 18px;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section{
            width: calc(100%/3);
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image{
            width: unset !important;
            height: unset !important;
            max-width: unset !important;
            max-height: unset !important;
            position: relative;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image img{
            border-radius: 30px;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps{
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps span{
            width: 28px;
            height: 28px;
            border: 2px solid #212121;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.8px;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps p{
            font-size: 28px;
            font-weight: 700;
            line-height: 26.18px;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow{
            display: none;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow.mobile_only{
            display: block;
            max-width: 100px;
            max-height: 70px;
            width: 40px;
            height: 60px;
            position: absolute;
            bottom: -20px;
            right: 0px;
        }

    }
    @media screen and (max-width:820px) and (min-width:500px) {
        .how_to_use_wrapper .inner_how_to_use_wrapper .title .htu_arrow.mobile_only{
            right: -43px;
        }
    }
    @media only screen and (max-width:430px) {
        .how_to_use_wrapper .inner_how_to_use_wrapper .title{
            max-width: 290px;
            font-size: 56px;
            {% comment %} line-height: 52.36px; {% endcomment %}
        }

    }
    @media only screen and (max-width:375px) {
        {% comment %} .how_to_use_wrapper .inner_how_to_use_wrapper .title{
            max-width: 280px;
        } {% endcomment %}
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper{
            column-gap: 20px;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image{
            width: 95px;
            height: 105px;
            position: relative;
        }
        .how_to_use_wrapper .inner_how_to_use_wrapper .image_text_section_wrapper .image_text_section .how_to_use_image .steps{
            top: -40px;
            left: 5px;
            transform: translateX(0px);
        }
    }
    @media only screen and (max-width:320px) {
        .how_to_use_wrapper .inner_how_to_use_wrapper .title{
            font-size: 54px;
        }
    }
</style>

<div class="how_to_use_wrapper">
    <div class="inner_how_to_use_wrapper">
        <div class="title">
            <p>{{ data.how_to_use_title }}</p>
            <div class="htu_arrow">
                {% comment %} <img src="https://i.postimg.cc/wvW7dc4R/how-to-use-arraow.png"> {% endcomment %}
                <img src="{{ 'how_to_use_arraow.png' | asset_img_url: '300x' }}" />

            </div>
            <div class="htu_arrow mobile_only">
                <img src="{{ 'how_to_use_mobile_arraow.png' | asset_img_url: '300x' }}" />
            </div>
        </div>
        <div class="image_text_section_wrapper">
            {%  for kk in data.steps_object.value %}
                <div class="image_text_section">
                    <div class="how_to_use_image">
                        <img src="{{kk.image | img_url: 'master'}}" alt="{{ kk.subtitle }}">
                        <div class="steps"><span>{{ forloop.index }}</span><p>{{ kk.subtitle }}</p></div>
                    </div>
                    <div class="how_to_use_text">{{ kk.description }}</div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

{% schema %}
{
    "name": "How to use",
    "tag": "section",
    "settings": [],
    "presets": [
        {
          "name": "How to use"
        }
      ]
}
{% endschema %}