
{% assign data = product.metafields.custom.ingredients_content.value %}

<style>
    .ingredients_wrapper{
        width: 100%;
        {% comment %} max-width: 1440px; {% endcomment %}
        background-image: url("{{ data.background_desktop_image | img_url: '1440x' }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #F8FAEF;
    }
    .ingredients_wrapper .inner_ingredients_wrapper{
        width: 100%;
        height: 54.501vw;
        max-height: 784.82px;
        padding: 40px 0px 0px 0px;
        margin: 20px 0px;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .text_content{
        max-width: 800px;
        margin: 0 auto;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .text_content p{
        font-family: "Druk Web";
        font-size: 4.514vw;
        font-weight: 700;
        {% comment %} line-height: 60.77px; {% endcomment %}
        line-height: 93.5%;
        text-align: center;
        color: #212121;
        text-transform: uppercase;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .text_content p span{
        color: #AFC42F;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .text_content p.subtitle{
        font-family: "Lato Regular";
        font-size: 18px;
        line-height: 150%;
        color: #4D201A;
        {% comment %} line-height: 30px; {% endcomment %}
        margin: 20px 0px;
        text-transform: capitalize;
        font-weight: 900;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;
        column-gap: 90px;
        margin-top: 30px;
        max-width: 940px;
    }

    .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list .ingredient_icon_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list .ingredient_icon_text .ingredient_icon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: #AFC42F;
        border-radius: 50%;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list .ingredient_icon_text .ingredient_icon img{
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
    }
    .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list .ingredient_icon_text p.ingredient_text{
        font-family: "Lato Regular";
        font-size: 18px;
        line-height: normal;
        {% comment %} line-height: 25px; {% endcomment %}
        text-align: center;
        margin-top: 10px;
        max-width: 142px;
        color: #212121;
    }
    @media screen and (min-width:1441px) {
        .ingredients_wrapper{
            margin: 0 auto;
            height: 54.501vw;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p{
            font-size: 70px;
        }
    }
    @media screen and (max-width:1024px) and (min-width:912px) {
        .ingredients_wrapper .inner_ingredients_wrapper{
            height: 74.501vw;    
        }
        .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list{
            max-width: 700px;
        }
    
      }
    @media screen and (max-width:912px) and (min-width:820px) {
        .ingredients_wrapper{
            background-size: cover;
        }
        .ingredients_wrapper .inner_ingredients_wrapper{
            height: 87.501vw;
            max-height: unset;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list{
            max-width: 560px;
        }
    }
    @media screen and (max-width:820px) and (min-width:768px) {
        .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list{
            max-width: 700px;
        }
    }
    @media only screen and (max-width:820px) {
        .ingredients_wrapper{
            background-image: url("{{ data.background_mobile_image | img_url: '768x' }}");
            background-size: contain;
            background-position: bottom;
            height: 920px;
        }
        .ingredients_wrapper .inner_ingredients_wrapper{
            height: 993px;
            max-height: unset;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p{
            font-size: 14.933vw;
            max-width: unset;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content{
            max-width: unset;
            margin: 0 auto;
            line-height: 50px;
            padding: 0px 30px;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p,.ingredients_wrapper .inner_ingredients_wrapper .text_content p.subtitle{
            margin: 0 auto;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p{
            font-size: 58px;
            line-height: 47.77px;
            {% comment %} line-height: 100.77px; {% endcomment %}
        }
        .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list{
            flex-wrap: wrap;
            column-gap: 40px;
            row-gap: 60px;
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p.subtitle {
            font-family: "Lato Regular";
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            {% comment %} line-height: 27px; {% endcomment %}
            margin: 20px auto !important;
            color: #4D201A;
        }
        .product_feature_accordion_content_wrapper .inner_iproduct_feature_accordion_content_wrapper .product_feature_content.mobile_only{
            display: block !important;
            margin: 0 -20px;
        }
    }
    @media screen and (max-width:820px) and (min-width:768px) {
        .ingredients_wrapper{
            background-size: cover;
        }
        .ingredients_wrapper .inner_ingredients_wrapper{
            height: 1110px;
        }
    }
    @media only screen and (max-width:430px) {
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p{
            font-size: 56px;
            {% comment %} line-height: 52.36px; {% endcomment %}
            line-height: 93.5%;
        }
    }
    @media only screen and (max-width:375px) {
        .ingredients_wrapper .inner_ingredients_wrapper .text_content p{
            font-size: 14.933vw;
            max-width: 307px;
            line-height: 93.5%;
            {% comment %} line-height: 60.77px; {% endcomment %}
        }
        .ingredients_wrapper .inner_ingredients_wrapper .text_content{
            {% comment %} max-width: 340px; {% endcomment %}
            margin: 0 auto;
            line-height: 50px;
        }
    }
    @media screen and (max-width: 320px){
        .ingredients_wrapper .inner_ingredients_wrapper .ingredients_list .ingredient_icon_text{
            width: calc((100% / 2) - 40px);
        }
        .ingredients_wrapper{
            height: 880px;
        }
    }
</style>

{% if data != blank %}
    <div class="ingredients_wrapper">
        <div class="inner_ingredients_wrapper">
            <div class="text_content">
                <p>{{ data.newtitle }}</p>
                <p class="subtitle">{{ data.subtitle }}</p>
            </div>
            <div class="ingredients_list">
                {% for metaobject in data.ingredient_object.value %}
                    {% comment %} ===>metaobject {{ metaobject.text }} {% endcomment %}
                    <div class="ingredient_icon_text">
                        <div class="ingredient_icon">
                          {% comment %} <img src="https://i.postimg.cc/br5dF7qF/zap.png">  {% endcomment %}
                          <img src="{{metaobject.image | img_url: 'master'}}" alt="{{ metaobject.text }}"> 
                        </div>
                        <p class="ingredient_text">{{ metaobject.text }}</p>
                    </div>
                {% endfor %}
                {% comment %} <div class="ingredient_icon_text">
                    <div class="ingredient_icon">
                      <img src="https://i.postimg.cc/br5dF7qF/zap.png">  
                    </div>
                    <p class="ingredient_text">Provides Balanced Energy</p>
                </div>
                <div class="ingredient_icon_text">
                    <div class="ingredient_icon">
                      <img src="https://i.postimg.cc/br5dF7qF/zap.png">  
                    </div>
                    <p class="ingredient_text">Provides Balanced Energy</p>
                </div>
                <div class="ingredient_icon_text">
                    <div class="ingredient_icon">
                      <img src="https://i.postimg.cc/br5dF7qF/zap.png">  
                    </div>
                    <p class="ingredient_text">Provides Balanced Energy</p>
                </div>
                <div class="ingredient_icon_text">
                    <div class="ingredient_icon">
                      <img src="https://i.postimg.cc/br5dF7qF/zap.png">  
                    </div>
                    <p class="ingredient_text">Provides Balanced Energy</p>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "Ingredients",
    "tag": "section",
    "settings": [],
    "presets": [
        {
          "name": "Ingredients"
        }
      ]
}
{% endschema %}