
{%- liquid
    assign options = section.settings
    assign greens_new_banner_title = options.greens_new_banner_title
    assign greens_new_banner_subtitle = options.greens_new_banner_subtitle
    assign greens_new_banner_subtext = options.greens_new_banner_subtext
    assign greens_new_banner_offerText = options.greens_new_banner_offerText
    assign brand_logo = options.brand_logo
    assign background_larger_screen_image = options.background_larger_screen_image
    assign background_desktop_image = options.background_desktop_image
    assign background_mobile_image = options.background_mobile_image
    assign background_ipad_image = options.background_ipad_image
    assign desktop_banner_max_height = options.desktop_banner_max_height
    assign mobile_banner_min_height = options.mobile_banner_min_height
    assign mobile_banner_max_height = options.mobile_banner_max_height
    assign Tablet_banner_max_height = options.Tablet_banner_max_height
    assign larger_screen_banner_max_height = options.larger_screen_banner_max_height
    assign background_small_mobile_image = options.background_small_mobile_image
    assign btn_text = options.btn_text
    assign btn_url = options.btn_url
    assign blocks = section.blocks

  -%}

<style>
    .greens_new_banner{
        width: 100%;
        height: 48.081vw;
        {% if desktop_banner_max_height !=blank %}
            max-height: {{ desktop_banner_max_height }}px;
        {% endif %}
        display: block;
        background-image: url("{{ background_desktop_image | img_url: 'master' }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .greens_new_banner .inner_greens_new_banner{
        padding: 40px 40px 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
    }
    .greens_new_banner .inner_greens_new_banner .top_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 44.644vw;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 59px;
    }
    .greens_new_banner .inner_greens_new_banner .top_content p{
        font-family: "Druk Web";
        font-size: 15.58vw;
        font-style: normal;
        font-weight: 700;
        line-height: 70%;
        color: #C8E812;
        margin: 0px 0px 22px 0px;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
    }
    .greens_new_banner .inner_greens_new_banner .top_content p span{
        color: #C8E812;
        font-size: 8.8832vw;
        line-height: 9.659vw;
    }
    .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
        font-family: "TestSohneBreit";
        font-size: 3.405vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        color: #FFF;
        text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.09);
        {% comment %} margin: 10px 0px 20px 0px; {% endcomment %}
    }
    .greens_new_banner .inner_greens_new_banner .top_content h4{
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
        font-family: "Lato Regular", sans-serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 47px;
    }
    .greens_new_banner .inner_greens_new_banner .top_content a{
        background: #212121;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 259px;
        height: 55px;
        font-family: 'Lato Bold', sans-serif;
        font-size: 1.389vw;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 74px;
        color: #FFF;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_subtext{
        color: #000;
        font-family: "Lato Regular", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        position: absolute;
        bottom: 15px;
        left: 10px;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_content .feature_icon_wrapper{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_content .feature_icon_wrapper .feature_icon{
        width: 76px;
        height: 76px;
        display: block;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_content .feature_icon_wrapper .feature_icon img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_content .shop_btn{
        display: none;
    }
    .greens_new_banner .inner_greens_new_banner .bottom_content .shop_btn a{
        background-color: #C8E812;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 261px;
        height: 55px;
        font-family: 'Lato Bold', sans-serif;
        font-size: 1.388vw;
        font-weight: 900;
        line-height: 1.665vw;
        text-decoration: none;
        border-radius: 30px;
    }

    .greens_new_banner .brand_logo{
      max-width: 322px;
      margin-bottom:35px;
    }

    @media screen and (min-width: 2400px){
        .greens_new_banner{
            {% if larger_screen_banner_max_height !=blank %}
                max-height: {{ larger_screen_banner_max_height }}px;
            {% endif %}
            {% if background_larger_screen_image !=blank %}
                background-image: url("{{ background_larger_screen_image | img_url: 'master' }}");
            {% endif %}
            
        }
        .greens_new_banner .inner_greens_new_banner .top_content a{
            width: 259px;
            height: 55px;
            font-size: 20px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
            font-size: 2.05vw;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p{
            font-size: 8.125vw;
            margin: 0px 0px 40px 0px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content{
            position: absolute;
            left: 500px;
        }
    }
    @media screen and (max-width: 1024px){
        .greens_new_banner .inner_greens_new_banner .top_content{
            left: 50px;
        }
    }
    @media screen and (max-width: 820px){
        .greens_new_banner{
            height: 129.41vw;
            {% comment %} max-height: 800px; {% endcomment %}
            {% if Tablet_banner_max_height !=blank %}
                max-height: {{ Tablet_banner_max_height }}px;
            {% endif %}
            display: block;
            background-image: url("{{ background_ipad_image | img_url: 'master' }}");
            background-position: bottom;
        }
        .greens_new_banner .inner_greens_new_banner{
            padding: 20px 20px 40px 20px;
        }

        .greens_new_banner .inner_greens_new_banner .top_content{
            width: unset;
            position: unset;
            max-width: unset;
            transform: unset;
            margin-top: 21px;
        }
      .greens_new_banner .brand_logo{
          max-width: 273px;
          margin-bottom: 5px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content a{
            font-size: 20px;
            line-height: 20px;

        }
        .greens_new_banner .inner_greens_new_banner .bottom_content .feature_icon_wrapper .feature_icon{
            width: 46px;
            height: 46px;
            display: block;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_content .shop_btn{
            margin-top: 20px;
            display: block;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_content{
            align-items: center;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p{
            text-shadow: 0px 5.722px 11.444px rgba(0, 0, 0, 0.20);
            font-size: 200px;
            line-height: 75%;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p span{
            color: #C8E812;
            font-size: 128px;
            line-height: 120px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
            font-size: 44px;
            line-height: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        .greens_new_banner{
            height: 129.41vw;
            {% comment %} max-height: 800px; {% endcomment %}
            {% if Tablet_banner_max_height !=blank %}
                max-height: {{ Tablet_banner_max_height }}px;
            {% endif %}
            display: block;
            background-image: url("{{ background_ipad_image | img_url: 'master' }}");
            background-position: bottom;
        }
        .greens_new_banner .inner_greens_new_banner{
            padding: 20px 20px 40px 20px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content{
            width: unset;
            position: unset;
            max-width: unset;
            transform: unset;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p{
            text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
            font-size: 200px;
            line-height: 82%;
        }
        
        .greens_new_banner .inner_greens_new_banner .top_content p span{
            color: #C8E812;
            font-size: 128px;
            line-height: 120px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content h4{
            margin-bottom: 25px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
            {% comment %} font-family: 'Lato Bold', sans-serif; {% endcomment %}
            font-size: 44px;
        }
        {% comment %} .greens_new_banner .inner_greens_new_banner .top_content a{
            display: none;
        } {% endcomment %}
        .greens_new_banner .inner_greens_new_banner .bottom_content .feature_icon_wrapper .feature_icon{
            width: 69px;
            height: 73px;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_content{
            align-items: center;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_content .shop_btn{
            margin-top: 20px;
            display: block;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_content .shop_btn a{
            font-size: 18px;
            font-weight: 900;
            line-height: 21px;
        }
        .greens_new_banner .brand_logo {
            max-width: 233px;
            margin-bottom: 5px;
        }
    }
    @media screen and (max-width: 540px) {
        .greens_new_banner{
            height: 129.41vw;
            {% comment %} min-height: 712px; {% endcomment %}
            {% if mobile_banner_min_height !=blank %}
                min-height: {{ mobile_banner_min_height }}px;
            {% endif %}
            {% if mobile_banner_max_height !=blank %}
                max-height: {{ mobile_banner_max_height }}px;
            {% endif %}
            display: block;
            background-image: url("{{ background_mobile_image | img_url: 'master' }}");
            background-position: bottom;
        }
        .greens_new_banner .inner_greens_new_banner{
            padding: 20px 20px 40px 20px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p{
            font-size: 140px;
            line-height: 65.5%;
            margin: 9px 0px 20px 0px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p span{
            font-size: 87px;
            line-height: 76px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content a{
            {% comment %} display: none; {% endcomment %}
        }
        .greens_new_banner .inner_greens_new_banner .top_content h4{
            color: #FFF;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
            font-family: "Lato Regular", sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0px 0px 20px 0px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content a{
            width: 188px;
            height: 48px;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_subtext{
            color: #000;
            font-family: "Lato Regular", sans-serif;
            font-size: 11px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%;
            position: absolute;
            bottom: 22px;
            left: 45px;
            max-width: 84px;
        }
    }
      @media screen and (max-width: 540px) and (min-width: 369px) {
        .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
            font-size: 7vw;
            line-height: 93.5%;
        }

     }
    @media screen and (max-width: 400px) {
        .greens_new_banner{
            min-height: 640px;  
        }
        .greens_new_banner .inner_greens_new_banner{
            padding: 20px 20px 40px 20px;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_subtext {
            color: #000;
            font-family: "Lato Regular", sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%;
            position: absolute;
            bottom: 22px;
            left: 35px;
            max-width: 76px;
        }

    }
    @media screen and (max-width: 368px) {
      .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
        font-size: 7.4vw;
      }
      .greens_new_banner .inner_greens_new_banner .top_content p{
        font-size: 36vw;
      }
    }
    @media screen and (max-width: 320px) {
        .greens_new_banner{
            height: 129.41vw;
            min-height: 565px;
            max-height: 600px;
            {% comment %} min-height: 712px; {% endcomment %}
            display: block;
            background-image: url("{{ background_small_mobile_image | img_url: 'master' }}");
            background-position: bottom;
        }
        .greens_new_banner .inner_greens_new_banner .top_content .subtitle{
            font-size: 24px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content p{
            font-size: 112px;
        }
        .greens_new_banner .inner_greens_new_banner .bottom_subtext{
            font-size: 9px;
            max-width: 68px;
        }
        .greens_new_banner .inner_greens_new_banner .top_content{
            margin-top: 0px;
        }
    }
</style>

<div class="greens_new_banner">
    <div class="inner_greens_new_banner">
        <div class="top_content">
            {% if greens_new_banner_subtitle != blank %}
                <span class="subtitle">{{ greens_new_banner_subtitle }}</span>
            {% endif %}
            {% if greens_new_banner_title != blank %}
                <p>{{ greens_new_banner_title }}</p>
            {% endif %}
            {% if greens_new_banner_subtext != blank %}
                <h4>{{ greens_new_banner_subtext }}</h4>
            {% endif %}

            {% if brand_logo != blank %}
               <img class='lazyload brand_logo' src="{{ brand_logo | img_url: '400x' }}" alt="Banner brand logo">
            {% endif %}
            
            {% if btn_text != blank %}
                <a href="{{ btn_url }}">{{ btn_text }}</a>
            {% endif %}
        </div>
        <div class="bottom_subtext">
            {% if greens_new_banner_offerText !=blank %}
                {{ greens_new_banner_offerText }}
            {% endif %}   
        </div>
        
        </div> 
    </div>


{% schema %}
  {
    "name": "Prime day Banner",
    "tag": "section",
    "settings": [

        {
            "type": "text",
            "id": "greens_new_banner_title",
            "label": "t:sections.greens_new_banner.greens_new_banner_title"
        },
        {
            "type": "text",
            "id": "greens_new_banner_subtitle",
            "label": "t:sections.greens_new_banner.greens_new_banner_subtitle"
        },
        {
            "type": "text",
            "id": "greens_new_banner_subtext",
            "label": "t:sections.greens_new_banner.greens_new_banner_subtext"
        },
        {
            "type": "text",
            "id": "greens_new_banner_offerText",
            "label": "t:sections.greens_new_banner.greens_new_banner_offerText"
        },
        {
            "type": "image_picker",
            "id": "background_larger_screen_image",
            "label": "t:sections.greens_new_banner.background_larger_screen_image"
          },
        {
            "type":"range",
            "id":"larger_screen_banner_max_height",
            "label":"t:sections.greens_new_banner.larger_screen_banner_max_height",
            "min": 0,
            "max": 1240,
            "step": 20,
            "default":700
        },
        {
          "type": "image_picker",
          "id": "background_desktop_image",
          "label": "t:sections.greens_new_banner.background_desktop_image"
        },
        {
            "type":"range",
            "id":"desktop_banner_max_height",
            "label":"t:sections.greens_new_banner.desktop_banner_max_height",
            "min": 0,
            "max": 1240,
            "step": 20,
            "default":600
        },
        {
            "type": "image_picker",
            "id": "background_mobile_image",
            "label": "t:sections.greens_new_banner.background_mobile_image"
        },
        {
            "type":"range",
            "id":"mobile_banner_min_height",
            "label":"t:sections.greens_new_banner.mobile_banner_min_height",
            "min": 0,
            "max": 1240,
            "step": 20,
            "default":660
        },
        {
            "type":"range",
            "id":"mobile_banner_max_height",
            "label":"t:sections.greens_new_banner.mobile_banner_max_height",
            "min": 0,
            "max": 1240,
            "step": 20,
            "default":800
        },
        {
            "type": "image_picker",
            "id": "background_ipad_image",
            "label": "t:sections.greens_new_banner.background_ipad_image"
        },
        {
            "type": "image_picker",
            "id": "background_small_mobile_image",
            "label": "Background Small mobile device"
        },
        {
            "type":"range",
            "id":"Tablet_banner_max_height",
            "label":"t:sections.greens_new_banner.Tablet_banner_max_height",
            "min": 0,
            "max": 1240,
            "step": 20,
            "default":800
        },
       {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "Brand logo"
        },
        {
            "type": "text",
            "id":"btn_text",
            "label": "t:sections.greens_new_banner.btn_text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "t:sections.greens_new_banner.btn_url"
        }
    ],
    "presets": [
        {
        "name": "Prime day Banner"
        }
    ]
}
{% endschema %}